@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --surface00: #161718;
  --surface01: #1d1e20;
  --surface02: #222325;
  --surface03: #2c2d30;
  --surface04: #313135;

  --accent00: #27272a;
  --accent01: #2e3033;
  --accent02: #333538;
  --accent03: #424348;
  --accent04: #47474d;
  --accent05: #585860;
  --border00: #222425;
  --border01: #292b2d;
  --border02: #2e3032;
  --border03: #38393d;
  --border04: #3d3d43;
  --border05: #4e4e55;

  --background: var(--surface00);
  --foreground: #f7f7f8;
  --subtle: #e9e9ec;
  --muted: #d4d5d8;
  --dim: #999ba3;
  --input-background: var(--surface03);
  --input-border: #424348;
  --card-background: var(--surface02);
  --card-border: #2a2b2d;
  --popover-background: #313135;
  --popover-foreground: #f7f7f8;
  --popover-border: #45454a;
  --dialog-background: rgba(34, 35, 37, 0.9);
  --dialog-foreground: #f7f7f8;
  --dialog-border: #2e3032;
  --primary-background: #336ff1;
  --primary-foreground: var(--foreground);
  --primary-ring: #0c40b1;
  --secondary-background: #3d3f43;
  --secondary-foreground: var(--foreground);
  --secondary-ring: #252528;
  --destructive-background: #df0c0f;
  --destructive-foreground: var(--foreground);
  --destructive-ring: #8c0809;
  --invert-background: #ecedee;
  --invert-foreground: #161618;
  --invert-ring: #4f5459;
  --warning-background: #e09e06;
  --warning-foreground: var(--foreground);
  --success-background: #04ae48;
  --success-foreground: var(--foreground);
  --info-background: #0597ff;
  --info-foreground: var(--foreground);
  --kbd-background: #43454c;
  --kbd-foreground: var(--foreground);
  --accent03-gradient: linear-gradient(180deg, #424348 0%, #3a3b40 100%);
  --accent04-gradient: linear-gradient(180deg, #424248 0%, #3b3b40 100%);
  --card-gradient: linear-gradient(
    180deg,
    rgba(32, 33, 35, 0.96) 0%,
    #1a1b1d 100%
  );
  --gradient-primary: linear-gradient(180deg, #4a7ff2 0%, #336ff1 100%);
  --gradient-primary-hover: linear-gradient(180deg, #5889f3 0%, #4078f2 100%);
  --gradient-info: linear-gradient(180deg, #0597ff 0%, #0086e5 100%);
  --gradient-secondary: linear-gradient(180deg, #3d3f43 0%, #383a3d 100%);
  --gradient-success: linear-gradient(180deg, #04ae48 0%, #03963e 100%);
  --gradient-warning: linear-gradient(180deg, #e09e06 0%, #c78c05 100%);
  --gradient-invert: linear-gradient(180deg, #ecedee 0%, #c9cccf 100%);
  --gradient-destructive: linear-gradient(180deg, #df0c0f 0%, #c20a0d 100%);

  --spinner-light: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_339_178)'%3E%3Cpath d='M22 12.0005C21.9999 14.1123 21.3313 16.1698 20.0899 17.8782C18.8486 19.5866 17.0983 20.8582 15.0899 21.5107C13.0814 22.1632 10.918 22.1631 8.9096 21.5105C6.90121 20.8579 5.15098 19.5862 3.90974 17.8777C2.6685 16.1693 1.99998 14.1117 2 11.9999C2.00002 9.88816 2.66856 7.83061 3.90982 6.12216C5.15109 4.4137 6.90134 3.14205 8.90974 2.48946C10.9181 1.83687 13.0816 1.83684 15.09 2.48938' stroke='%23F7F7F8' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_339_178'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --spinner-dark: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_339_178)'%3E%3Cpath d='M22 12.0005C21.9999 14.1123 21.3313 16.1698 20.0899 17.8782C18.8486 19.5866 17.0983 20.8582 15.0899 21.5107C13.0814 22.1632 10.918 22.1631 8.9096 21.5105C6.90121 20.8579 5.15098 19.5862 3.90974 17.8777C2.6685 16.1693 1.99998 14.1117 2 11.9999C2.00002 9.88816 2.66856 7.83061 3.90982 6.12216C5.15109 4.4137 6.90134 3.14205 8.90974 2.48946C10.9181 1.83687 13.0816 1.83684 15.09 2.48938' stroke='%23161718' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_339_178'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

  /* --kbdnormal-box-shadow:
    inset 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.25),
    0px 0px 0px 1px #484b51;
  --btnsecondary-box-shadow:
    0px 3px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px #252528,
    inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  --btnprimary-box-shadow:
    0px 3px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px #0c40b1,
    inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  --card-box-shadow:
    0px 0px 0px 1px #2a2b2d, inset 0px 1px 0px rgba(255, 255, 255, 0.05);
  --card-backdrop-filter: blur(120px);
  --input-box-shadow: 0px 0px 0px 1px #424348;
  --dialog-backdrop-filter: blur(12px);
  --dialog-box-shadow: 0px 0px 0px 1px #2c2d30;
  --popover-box-shadow:
    0px 0px 0px 1px #45454a, 0px 8px 34px rgba(0, 0, 0, 0.25);
  --popover-backdrop-filter: blur(4px); */
}

@theme inline {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-background);
  --color-primary-ring: var(--primary-ring);
  --color-primary-foreground: var(--primary-foreground);
  --background-image-gradient-primary: var(--gradient-primary);
  --color-secondary: var(--secondary-background);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-ring: var(--secondary-ring);
  --background-image-gradient-secondary: var(--gradient-secondary);
  --color-destructive: var(--destructive-background);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-ring: var(--destructive-ring);
  --background-image-gradient-destructive: var(--gradient-destructive);
  --color-invert: var(--invert-background);
  --color-invert-foreground: var(--invert-foreground);
  --color-invert-ring: var(--invert-ring);
  --background-image-gradient-invert: var(--gradient-invert);
  --color-info: var(--info-background);
  --color-info-foreground: var(--info-foreground);
  --background-image-gradient-info: var(--gradient-info);
  --color-success: var(--success-background);
  --color-success-foreground: var(--success-foreground);
  --background-image-gradient-success: var(--gradient-success);
  --color-warning: var(--warning-background);
  --color-warning-foreground: var(--warning-foreground);
  --background-image-gradient-warning: var(--gradient-warning);
  --color-border: var(--border00);
  --color-border00: var(--border00);
  --color-border01: var(--border01);
  --color-border02: var(--border02);
  --color-border03: var(--border03);
  --color-border04: var(--border04);
  --color-border05: var(--border05);
  --color-accent00: var(--accent00);
  --color-accent01: var(--accent01);
  --color-accent02: var(--accent02);
  --color-accent03: var(--accent03);
  --color-accent04: var(--accent04);
  --color-accent05: var(--accent05);
  --color-card: var(--card-background);
  --color-card-border: var(--card-border);
  --background-image-gradient-card: var(--card-gradient);
  --color-input: var(--input-background);
  --color-input-foreground: var(--foreground);
  --color-input-border: var(--input-border);
  --color-popover: var(--popover-background);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-border: var(--popover-border);

  --color-surface00: var(--surface00);
  --color-surface01: var(--surface01);
  --color-surface02: var(--surface02);
  --color-surface03: var(--surface03);
  --color-surface04: var(--surface04);
  --color-subtle: var(--subtle);
  --color-muted: var(--muted);
  --color-dim: var(--dim);

  --radius: 0.75rem;
  --shadow: 0 3px 4px rgba(0, 0, 0, 0.25);

  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-base--line-height: calc(1.25 / 0.875);
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.875rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;
  --text-7xl: 3.75rem;
  --text-8xl: 4.5rem;
  --text-9xl: 6rem;
}

@utility bg-spinner {
  background-image: var(--spinner-light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-spinner-dark {
  background-image: var(--spinner-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@layer base {
  .root {
    isolation: isolate;
  }
  body {
    @apply text-base bg-background;
  }
}
